/* Mobile */
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .main-nav {
        grid-template-areas:
            "search-key button"
            "search-word search-word";

        gap: 0.5rem;
    }

    .main-nav .search-key {
        grid-area: search-key;
    }

    .main-nav .search-key::after {
        bottom: 0rem;
    }

    .main-nav button {
        grid-area: button;
    }

    .main-nav .search-word {
        grid-area: search-word;
    }

    .meme-editor {
        grid-auto-flow: row;
        padding: 5rem 5rem 5rem 5rem;
        margin: auto;
    }
}


/* Desktop or Tablet */
@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .main-nav {
        grid-template-columns: 3fr 3fr 1fr;
        gap: 1rem;
    }

    .main-nav button {
        min-height: 2.5rem;
    }

    .main-nav .search-key::after {
        bottom: 1.25rem;
    }


    .meme-editor {
        position: absolute;
        left: 5%;
        top: 18%;
        grid-auto-flow: column;

        height: 60%;

        background-color: rgba(255, 255, 255, 0.5)
    }
}