.main-nav {
    display: grid;

    width: 100%;

    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--primaryBase2);
    padding-top: 4.5rem;
}

.main-nav .search-word {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    place-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 100%;

}

.main-nav .search-word>* {
    font-size: 1.5rem;

    white-space: nowrap;     
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-nav .search-word p>* {
    margin: 0.5rem;
}

.main-nav .search-word p>*:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main-nav .search-key {
    display: flex;
    gap: 0.5rem;

    place-content: center;
    align-items: center;

    justify-self: center;

    padding: 0;
    max-width: 15rem;
    position: relative;
}

.main-nav .search-key::after {
    content: '';

    position: absolute;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: black;
}

.main-nav button {
    align-self: center;

    max-height: 3rem;
    max-width: 8rem;

    background-color: var(--primaryBase1);
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}

.main-nav button:hover {
    cursor: pointer;
    background-color: var(--secondary3);
}

.main-nav .search-key input {
    font-size: 1rem;
}

.main-nav .search-key img {
    width: 1rem;
}

.hidden {
    display: none;
}